<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Fechas ARQUI</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>


<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h2>Subir archivo de fechas</h2>
      <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successmessage}">
        <strong th:text="${successmessage}"> </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errormessage}">
        <strong th:text="${errormessage}"> </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="" th:action="@{'/datesupload'}" th:object="${datoHora}" method="post" enctype='multipart/form-data'>
        <div class="form-group">
          <label for="datesupload">Archivo tipo CSV (separador ";") o JSON</label>
          <input type="file" style="margin-top:5px" class="form-control" id="datesupload" name="file" th:field="*{file}">
        </div>
        <button type="submit" style="margin-top:8px" class="btn btn-primary">Subir</button>

      </form>
    </div>

        <div class="container-fluid">
                <div class="col-md-4 offset-md-4">
                  <form th:action="@{/toJustificativos}" style="float: left;" method="post" th:object="${justificativo}">
                    <button type="submit" data-inline="true" class="btn btn-success float-right ml-2">Justificativos</button>
                  </form>

                  <form th:action="@{/toAutorizaciones}" method="post" th:object="${AutorizacionHrExtras}">
                    <button type="submit" data-inline="true" style="margin-left:10px" class="btn btn-success float-right ml-2">Autorizaciones horas extras</button>
                  </form>
                </div>
        </div>
    </div>

        <div class="col-md-12">
          <h2 style="margin-top:20px">Fechas ingresadas</h2>
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Run</th>
              <th>File Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="datoHora: ${datosHora}">
              <td th:text="${datoHora.fecha}"></td>
              <td th:text="${datoHora.hora}"></td>
              <td th:text="${datoHora.run}"></td>
              <td th:text="${datoHora.fileType}"></td>
              <td>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>





      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" ></script>
</body>
</html>